@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.todo-list {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}

.todo-list .title {
  color: #ffffff;
  font-size: 4em;
  font-family: "Comfortaa", sans-serif;
  margin-bottom: 3rem;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.add-task {
  width: 10%;
  padding: 0.5rem 0;
  border-radius: 8px;
  background-color: royalblue;
  color: #ffffff;
  margin-top: 1rem;
  border: none;
}

.todo-item .delete {
  padding: 0.3rem 0.66rem;
  height: fit-content;
  margin-left: 1rem;
  background-color: #a13038;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.25);
  font-weight: bold;
}

.todo-item .delete:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #a13038;
}

.todo-item p {
  color: #ffffff;
}

.input-field {
  width: 40%;
  height: 5%;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.input-field:focus {
  outline: none;
}

@media (max-width: 768px) {
  .input-field {
    width: 90%;
  }
}

.add-task {
  width: 10%;
  padding: 0.5rem 0;
  border-radius: 8px;
  background-color: royalblue;
  color: #ffffff;
  margin-top: 1rem;
  border: none;
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.25);
}

@media (max-width: 768px) {
  .add-task {
    width: 70%;
    padding: 1rem 0;
    font-size: 1rem;
  }
}

.add-task:hover {
  background-color: #ffffff;
  color: royalblue;
  cursor: pointer;
}

.completed + p {
  text-decoration: line-through;
}

.error p {
  color: #f59f9f;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
  border-radius: 1rem;
  padding: 0.5rem;
  font-weight: bold;
}