@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.todo-list {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}

.todo-list .title {
  color: #ffffff;
  font-size: 4em;
  font-family: "Comfortaa", sans-serif;
  margin-bottom: 3rem;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.add-task {
  width: 10%;
  padding: 0.5rem 0;
  border-radius: 8px;
  background-color: royalblue;
  color: #ffffff;
  margin-top: 1rem;
  border: none;
}

.todo-item .delete {
  padding: 0.5rem;
  height: fit-content;
}

.todo-item p {
  color: #ffffff;
  text-decoration: line-through;
}

.input-field {
  width: 40%;
  height: 5%;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
}

.add-task {
  width: 10%;
  padding: 0.5rem 0;
  border-radius: 8px;
  background-color: royalblue;
  color: #ffffff;
  margin-top: 1rem;
  border: none;
}